<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Quiz Verde</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <main class="container">

        <h1>Quiz Verde</h1>

        <h2>Teste seus conhecimentos sobre o meio ambiente</h2>

        <p>
            Responda às perguntas, aprenda sobre sustentabilidade
            e acumule pontos!
        </p>

        <a href="/quiz" class="botao">
            Começar Quiz
        </a>

    </main>

</body>

</html>