<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Quiz Verde</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <main class="quiz-container">

        <h1>Quiz Verde</h1>

        <p class="progresso">
            Pergunta 1 de 5
        </p>

        <div class="pergunta">

            <h2>
                Qual dessas atitudes ajuda a preservar o meio ambiente?
            </h2>

            <div class="alternativas">

                <button>Desperdiçar água</button>

                <button>Jogar lixo nas ruas</button>

                <button>Reciclar materiais</button>

                <button>Deixar as luzes acesas sem necessidade</button>

            </div>

        </div>

    </main>

</body>

</html>